.castlist-wrapper {
  background-color: #dc3434;
  width: 100%;
  height: 90px;
  position: relative;
  border-radius: 5px;
}
.castlist {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.castlist::-webkit-scrollbar {
  display: none;
}
.castlist img {
  min-width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.cast {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cast p {
  margin-top: 8px;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
}

.castlist-button-prev,
.castlist-button-next {
  width: 30px;
  height: 100%;
  background-color: #14141480;
  position: absolute;
  z-index: 2;
}
.castlist-button-prev button,
.castlist-button-next button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.castlist-button-next {
  right: 0;
}

@media screen and (max-width: 768px) {
  .castlist-button-prev,
  .castlist-button-next {
    display: none;
  }
}
