.slider-card-wrapper {
  width: 225px;
  height: 100%;
  margin-right: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transition: margin 0.5s ease-in-out;
}
.slider-card-img {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.slider-card-img img {
  width: 225px;
  height: 125px;
  border-radius: 4px;
  cursor: pointer;
}

.slider-card-wrapper:hover {
  transition: 0.5s all ease-in-out 500ms;
  margin: 0 38px 0 33px;
}
.slider-card-img img:hover {
  transform: scale(1.3);
  transition: 0.5s all ease-in-out 500ms;
}

@media screen and (max-width: 768px) {
  .slider-card-wrapper {
    width: 145px;
  }
  .slider-card-img {
    height: 95px;
    display: flex;
    align-items: flex-end;
  }
  .slider-card-img img {
    width: 145px;
    height: 85px;
    border-radius: 4px;
    cursor: pointer;
  }
  .slider-card-wrapper:hover {
    transition: 0.5s all ease-in-out 500ms;
    margin: 0 5px 0 0px;
  }
  .slider-card-img img:hover {
    opacity: 1;
    transition: opacity 1, ease-in-out 1s;
    transform: scale(1);
    transition: 0.5s all ease-in-out 500ms;
  }
}
