.recommendations-wrapper {
  padding: 0 50px 50px;
}

.recommendations-wrapper h4 {
  color: #ffffff;
  font-size: 20px;
}
.recommendations-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.poster-card {
  flex: 1 0 15%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 999px) {
  .recommendations-wrapper {
    padding: 0 20px 50px;
  }
}
