* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
}

body {
  background: #141414;
  height: 1000px;
}
